.slide_puzzle_grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin-left: 35%;
    margin-right: 46.5%;
    margin-top: 5%;
    border: hidden;
    background-color: red;
}

.grid {
    display: flex;
    border: 3px solid black;
    justify-content: space-around;
}

#box_one {
    text-align: center;
    padding: 25%, 25%, 25%, 25%;
    border: 3px solid black;
    
}



